* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins"sans-serif;
    margin-left: 20px;
    margin-top: 20px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu{
margin-right: 25px;
margin-top: 25px;
}
.profile-pic a{
margin-left: 25px;
}
.search-bar input {
    width: 425px;
    height: 37px;
    padding-left: 45px;
    background: #FFFFFF;
    border: 1px solid rgba(154, 154, 154, 0.8);
    border-radius: 15px;
    margin-top: 20px;
}
#dashboard{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
}
.common-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.title-logo {
    margin-left: 10px;
    align-items: center;

}

.title-text {
    margin-left: 10px;
    margin-top: 7px;
}

.dashboard-boxes {
    display: flex;
    flex-direction: row;   
}

.box-likes {
    width: 298px;
    height: 208px;
    background: #C1DEFE;
    border-radius: 15px;
    margin-right: 20px;
}

.box-logo {
display: flex;
flex-direction: column;
margin-top: 30px;
margin-left: 90px;
}

.box-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.045em;
    margin-top: 10px;
    margin-left: 60px;
}

.box-count {
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 0.045em;
    margin-top: 10px;
    margin-left: 30px;
}

.box-comments {
    width: 298px;
    height: 208px;
    background: #FCF4D7;
    border-radius: 15px;
    margin-right: 20px;
}

.box-share {
    width: 298px;
    height: 208px;
    background: #EFE0FD;
    border-radius: 15px;
}
#activity {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
}
.activity-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.activity-table table {
    width: 50%;
    height: 50px;
    margin-left: 20px;
}

.activity-table th {
    height: 30px;
    text-align: left;
}
.activity-table td {
    height: 30px;
}