* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins" sans-serif;
  margin-top: 20px;
  margin-left: 20px;
}
main {
  display: flex;
  flex-direction: row;
}
/*PANEL START */

#panel {
    width: 344.99px;
  display: flex;
  flex-direction: column;
   margin-left: 15px;
   border-right: 2px solid #EAEAEA;
}
.logo {
 margin-top: 20px;
  margin-bottom: 100px;
}
.menu {
    border-bottom: 2px solid #EAEAEA;
}
.menu .menu-bottom {
  margin-right: 25px;
  margin-top: 25px;
  border-right-color: #707070;
}
.menu i {
    margin-right: 10px;
}
.menu-bottom i{
    margin-right: 10px;
}
.menu ul li {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.045em;
  list-style-type: none;
  margin-bottom: 37px;
}
.menu ul li a {
  color: #707070;
}
.menu .menu-bottom .fa {
  margin-right: 25px;
}
.menu-bottom {
  margin-top: 15px;
}
.menu-bottom ul li {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.045em;
  list-style-type: none;
  margin-bottom: 37px;
}
.menu-bottom ul li a {
  color: #707070;
}
.menu hr {
  width: 300px;
  color: #707070;
  size: 1px;
}
/*PANEL END */

/*DASHBOARD START */
#dashboard {
  margin-left: 40px;
  margin-bottom: 30px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 70px;
}
.search img {
    margin-right: 37px;
}
.search-bar input {
  width: 725px;
  height: 67px;
  padding-left: 45px;
  background: #ffffff;
  border: 1px solid rgba(154, 154, 154, 0.8);
  border-radius: 15px;
}
.profile-pic a {
  margin-left: 25px;
}
.common-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.title-logo {
  margin-left: 10px;
  align-items: center;
}
.title-text {
  margin-left: 10px;
  margin-top: 7px;
}
.dashboard-boxes {
  display: flex;
  flex-direction: row;
}
.box-likes {
  width: 298px;
  height: 208px;
  background: #c1defe;
  border-radius: 15px;
  margin-right: 20px;
  text-align: center;
}
.box-logo {
  padding-top: 30px;
}

.box-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.045em;
}
.box-count {
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: 0.045em;
}
.box-comments {
  width: 298px;
  height: 208px;
  background: #fcf4d7;
  border-radius: 15px;
  margin-right: 20px;
  text-align: center;
}
.box-share {
  width: 298px;
  height: 208px;
  background: #efe0fd;
  border-radius: 15px;
  text-align: center;
}
/*DASHBOARD END */

/*ACTIVITY START */
.activity {
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.activity-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.title-text{
font-weight: 700;
font-size: 35px;
line-height: 52px;
letter-spacing: 0.045em;
color: #000000;
}

.activity-table table {
  width: 900px;
  height: 50px;
  margin-left: 20px;
}

.activity-table th {
  height: 50px;
  text-align: left;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.045em;
  color: #000000;
}
.activity-table td {
  height: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.045em;
  color: #000000;
}
/*ACTIVITY END */
